<style>
  @import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
</style>
<nav id="heading">
  <h1>Lanka Todo Tasks</h1>
</nav>
<form>
  <div class="div-input-form">
    <input class="text-input" id="circular_background" name="todo-item" type="text" [(ngModel)]="enteredTodo">
    <button class="button-add" id="btn_inline" (click)="addTodoItem()">Add</button>
  </div>
</form>
<div class="flex-container">
  <ul id="horizontal-style">
    <li *ngFor="let item of todoList;let i = index"><label><input style="margin-right: 15px;" type="checkbox">{{item}}</label><button
        (click)="deletTodoItem(i)">Delete</button></li>
  </ul>
</div>